.editor {
  margin: 20px auto 20px auto;
  width: 794px;
  height: 1123px;
  background-color: white;
  .ProseMirror {
    overflow: hidden;
    padding-left: 1em;
    padding-right: 1em;
    &:focus {
      outline: unset;
    }
  }
}
