.comment-anchor {
  display: contents;
  position: absolute;
  top: 0;
  left: 0;
}
.commentCard {
  display: grid;
  grid-template-columns: 150px 50px;
  grid-template-rows: 60px auto;
  grid-template-areas:
    'avatar button'
    'content content';
  position: absolute;
  box-sizing: border-box;
  width: 200px;
  min-height: 40px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.253);
  padding: 4px 4px 4px 4px;
}
