@import '../../styles/constants.scss';

.markerTooltip {
  display: inline-block;
  .color {
    width: 12px;
    height: 12px;
    margin: 2px;
    &:hover {
      cursor: pointer;
    }
  }

  .pallet {
    display: flex;
    flex-wrap: wrap;
    max-width: 50px;
    padding: 3px;
    position: absolute;
    background-color: white;
    border: 1px solid $borderColor;
  }
}
