@import '../../styles/constants.scss';

.header {
  display: flex;
  align-items: center;
  height: $headerHeight;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid $borderColor;
  background-color: white;
  z-index: 1000;
}

.avaterItem {
  width: 30px;
}
