@import '../../styles/constants.scss';

.userAvatar {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-width: 3.5px;
  border-style: solid;
  border-radius: 25px;
  line-height: 45px;
  text-align: center;
  background-color: white;
}
