@import './styles/constants.scss';
@import './styles/yCursor.scss';
// @import './styles/commentMark.scss';
@import './styles/commentNode.scss';

.App {
  padding-top: $appHeaderPadding;
  background-color: $backgroundColor;
  min-height: 100vh;
  overflow: hidden;
}
